@if (job) {
<mat-card class="job-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ job.job_title }}</mat-card-title>
      <mat-card-subtitle
        >{{ job.job_min_salary }}$ - {{ job.job_max_salary }}</mat-card-subtitle
      >
      <img
        mat-card-sm-image
        [src]="job.employer_logo || defaultJobImageUrl"
        class="job-image"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <article class="job-text">
      <!-- <p>{{ job.job_id | jobStatus }}</p> -->
      <span>Job publisher: {{ job.job_publisher }}</span>
      <span>Benefits: {{ job.job_benefits }}</span>
    </article>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions class="card-button-wrapper">
      <div>
        <button mat-button (click)="onVisit(job.job_apply_link)">
          Visit Link
        </button>

        <!-- @if (jobService.checkIfJobIsLiked(job.job_id)) {
        <button mat-button (click)="jobService.dislikeJob(job)">
          Remove From Liked
        </button>
        } @else {
        <button mat-button (click)="jobService.likeJob(job)">Like Job</button>
        } -->

        <button
          mat-button
          (click)="
            jobService.checkIfJobIsLiked(job.job_id)
              ? jobService.dislikeJob(job)
              : jobService.likeJob(job)
          "
        >
          {{ job.job_id | jobStatus }}
        </button>

        <span>{{ jobService.jobs | highestJobRate : job.job_id }}</span>
      </div>

      <button mat-button class="view-details-button">
        <a [routerLink]="getDetailsLink(job.job_id)"> View Details </a>
      </button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
}
