<mat-toolbar class="toolbar">
  <div class="logo-wrapper">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Job Search</h1>
  </div>

  <nav class="nav">
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
    <a routerLink="/jobs">
      <mat-icon>dns</mat-icon>
    </a>
    </button>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
    <a routerLink="/liked-jobs">
      <mat-icon>favorite</mat-icon>
    </a>
    </button>
  </nav>
</mat-toolbar>
