@for (variation of usersService.usersVariations; track variation) {
    <button (click)="usersService.changeCurrentUsersVariation(variation)">{{ variation }}</button>
}

{{usersService.currentUsersVariation}}

@if(usersService.currentUsersVariation === "local") {
    @for(user of usersService.users; track user.name) {
        <app-user-card [user]="user"></app-user-card>
    }
} 

@if(usersService.currentUsersVariation === "api") {
    @for (user of usersService.apiUsers; track user.id) {
        <div>
            <h4>{{ user.email }}</h4>
            <p>{{ user.username }}</p>
            <p>{{ user.phone }}</p>
        </div>
    }
}
